[project]
	description = A frontend for kingfisher's hawkeye service
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/JefferyQ (JefferyQ)
[access "refs/for/refs/*"]
	read = group user/JefferyQ (JefferyQ)
	push = group user/JefferyQ (JefferyQ)
	label-Code-Review = -2..+2 group user/JefferyQ (JefferyQ)
	label-Verified = -1..+1 group user/JefferyQ (JefferyQ)
	rebase = group user/JefferyQ (JefferyQ)
	removeReviewer = group user/JefferyQ (JefferyQ)
	submit = group user/JefferyQ (JefferyQ)
[access "refs/heads/*"]
	read = group user/JefferyQ (JefferyQ)
	create = group user/JefferyQ (JefferyQ)
	push = +force group user/JefferyQ (JefferyQ)
	pushMerge = group user/JefferyQ (JefferyQ)
[access "refs/tags/*"]
	push = +force group user/JefferyQ (JefferyQ)
	pushTag = group user/JefferyQ (JefferyQ)
	pushSignedTag = group user/JefferyQ (JefferyQ)
